#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_install:
	dh_auto_install
	-rm $(CURDIR)/debian/libmodule-starter-plugin-cgiapp-perl/usr/share/man/man3/auto::share::dist::Module-Starter-Plugin-CGIApp::default::Module.3pm
	-rm $(CURDIR)/debian/libmodule-starter-plugin-cgiapp-perl/usr/share/man/man3/auto::share::dist::Module-Starter-Plugin-CGIApp::titanium::Module.3pm
